.archive-entry, .google_afc_blocklink {
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.google_afc_blocklink {
  padding: 15px;
}
.archive-entry > .date , .archive-entry > .entry-title , .archive-entry > .categories {
  color: #333;
  background-color: #F5F5F5;
  border-color: #DDD;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  display: block;
}
.archive-entry > .entry-title {
  margin-top : 0;
  margin-bottom: 0;
}
.archive-entry > .entry-description {
  padding: 15px;
}
.archive-entry > .entry-description:before,
.archive-entry > .entry-description:after {
  content: " ";
  display: table;
}

.archive-entry > .entry-description:after {
  clear: both;
}
.entry-thumb {
  display: inline-block;
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  transition: all 0.2s ease-in-out 0s;
  margin: 10px;
}
.social-buttons {
  position: relative;
  left: 5px;
  bottom: 10px;
}

/**
 * footer
 */
#footer{
  clear: both;
  text-align: center;
  padding: 10px;
  font-size: 80%;
}
